DialogPane ,AnchorPane, ScrollPane ,.VBox{
    -fx-background-color: #dff2f9; /* background */
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

header {
    -fx-background-color: #8B0000; /* Dark Red */
}

Text {
    -fx-fill: black;
}

.Text{
    -fx-font-weight: bold;
}

VBox > Text {
    -fx-font-weight: bold;
}

VBox > Label {
    -fx-text-fill: black;
}

TextField {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}


Button ,.Label{
    -fx-background-color: #FFD700;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px; /* Ensure background radius is smaller than border radius */
    -fx-padding: 5px; /* Adjust padding */
    -fx-font-weight: bold;
}

Line {
    -fx-stroke: black;
}
